.container {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  gap: 10px;
  margin-bottom: 80px;
}
.productsButton {
  width: 200px;
  height: 40px;
  font-size: 12px;
  background-color: white;
  border: solid 1px #b6b4b4;
  margin-right: 10px;
  cursor: pointer;
}
.productsColorsButton {
  width: 100px;
  height: 40px;
  font-size: 12px;
  background-color: white;
  border: solid 1px #b6b4b4;
  cursor: pointer;
}
.productsButton:hover {
  border: solid 1px #5d5c5c;
}
.productsButton:focus {
  border: solid 1px #5d5c5c;
}
.productsColorsButton:hover {
  border: solid 1px #5d5c5c;
}
.productsColorsButton:focus {
  border: solid 1px #5d5c5c;
}
