.container {
  width: 18%;
  height: 320px;
  align-items: center;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}
.picture {
  width: 100%;
  height: 80%;
}
.name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: block;
  width: 100%;
}
.price {
  display: block;
  width: 100%;
  font-size: 15px;
}
