.container {
  display: flex;
  width: 96%;
  height: 400px;
  background-color: #fff0f5;
  margin-top: 1%;
  padding: 2%;
  gap: 20px;
}
.left {
  width: 50%;
  height: 100%;
}
.leftPicture {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 4%;
  flex-wrap: wrap;
}
.rightPictureLeftTop {
  width: 50%;
  height: 48%;
  image-rendering: pixelated;
}
.rightPictureRightTop {
  width: 46%;
  height: 48%;
  image-rendering: pixelated;
}
.rightPictureBottom {
  width: 100%;
  height: 48%;
  image-rendering: pixelated;
}
