.container {
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  height: 500px;
}
.left {
  width: 60%;
  height: 100%;
  align-items: center;
  text-align: center;
}
.picture {
  width: 60%;
  height: 100%;
}

.right {
  width: 40%;
  height: 100%;
  text-align: left;
}
.descriptionPrice {
  width: 80%;
  height: 80%;
  margin-top: 2px;
}
.name {
  margin-bottom: 20px;
  font-size: 20px;
}
.addToCart {
  width: 80%;
  height: 40px;
  background-color: #2f3526;
  border-color: #2f3526;
  color: white;
}
.addToCart:hover {
  background-color: black;
  border-color: black;
}
.valueError {
  margin-top: 20px;
  width: 80%;
  height: 20px;
  border: solid 2px #eea866;
  background-color: #fdf1e6;
}
.valueComplate {
  font-size: 20px;
  margin-top: 20px;
  width: 80%;
  height: 20px;
  border: solid 2px rgb(87, 168, 25);
  background-color: rgb(114, 206, 33);
}
.size {
  border-top: solid 1px;
  border-color: #d8d8d8;
}
.sizeL {
  display: flex;
  margin-top: 2%;
}

.number {
  margin: 100px;
}
.minus,
.plus {
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
input {
  height: 34px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
.L {
  width: 20%;
  height: 100%;
  font-size: 20px;
  padding-top: 2%;
}
.qualityNumber {
  width: 60%;
  text-align: center;
  cursor: pointer;
}
.valueNumber {
  width: 18%;
  margin-right: 12px;
  margin-left: 12px;
}
.sizePrice {
  width: 20%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
}
.containerModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modalContainer {
  border: solid 2px #f8f9fa;
  background-color: #f8f9fa;
  z-index: 11;
  width: 320px;
  height: 240px;
  position: fixed;
  top: 48px;
  left: 1200px;
  align-items: center;
}
.topModal {
  display: flex;
}
.pictureModal {
  width: 120px;
  height: 140px;
}
.nameQuantity {
  width: 100%;
}
.nameModal {
  font-size: 18px;
}
.buttonModal {
  width: 98%;
  height: 20px;
  margin-top: 10px;
  border: solid 2px #828282;
  background-color: #828282;
  color: white;
}
.buttonModal:hover {
  border: solid 2px #5b5a5a;
  background-color: #5b5a5a;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: black;
  opacity: 0.4;
}
