.container {
  display: flex;
  background-color: #f8f9fa;
  height: 3em;
  width: 100%;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0em;
  z-index: 1;
}

.about {
  margin-left: 200px;
  text-decoration: none;
  color: black;
}
.about:hover {
  font-weight: bold;
  transition: ease-in-out;
}

.login {
  margin-right: 200px;
  letter-spacing: 1px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  font-weight: bold;
  color: black;
  transition: ease-in-out;
}
.cartShopping{
  height: 20px;
}
.cartShopping:hover{
  box-shadow: 2px 2px 10px 2px #e5e8e9;
}
.picture {
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.picture:hover {
  box-shadow: 2px 2px 2px 2px grey;
}

.legged {
  display: flex;
  width: 100px;
}
