.container {
  display: flex;
  margin-left: 100px;
  margin-bottom: 100px;
  gap: 40px;
}
.left {
  width: 30%;
  height: 100%;
}
.leftPicture {
  width: 98%;
}
.leftBottom {
  color: #5d5c5c;
  width: 100%;
  text-align: left;
}
.right {
  display: flex;
  margin-top: 60px;
  width: 68%;
  height: 100%;
  gap: 40px;
}
.rightPicture {
  width: 36%;
}
.rightBottom {
  width: 64%;
  color: #5d5c5c;
  margin-top: 200px;
  text-align: left;
  align-items: center;
}
.rightButton {
  font-weight: 500;
  background-color: white;
  color: #5d5c5c;
  border: none;
  border-bottom: 1px solid #747474;
  cursor: pointer;
}
.rightButton:hover{
    color: #979595;
}
