.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
}

.submit {
  background: #273540;
  color: white;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 21px;
  cursor: pointer;
}

.submit:hover {
  background-color: white;
  border: 2px solid #273540;
  color: #273540;
  font-style: italic;
}
.error {
  background-color: rgb(224, 142, 142);
  margin-top: 10px;
  font-size: 18px;
  color: #234465;
}
